
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  background-color: rgba(0, 0, 0, 0.086);
}

/* hide number input spinner */
.no-spinner::-webkit-inner-spin-button,
.no-spinner::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.no-spinner {
  -moz-appearance: textfield;
}